<script>
	import Button, { Label } from "@smui/button";

	function goback() {
		window.history.back();
	}
</script>

<style type="text/scss">
	main {
		display: flex;
		width: 100%;
		padding-top: 32px;
		position: absolute;
		align-items: center;
		justify-content: center;
		section {
			text-align: center;
			padding: 32px;
			h1 {
				margin: 0;
			}
		}
	}
</style>

<svelte:head>
	<title>Jacob Coughenour - 404</title>
	<meta name="robots" content="noindex" />
	<meta name="description" content="Page not found." />
	<meta property="og:title" content="404" />
	<meta property="og:description" content="Page not found." />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@jacobcoughenour" />
	<meta name="twitter:title" content="404" />
	<meta name="twitter:description" content="Page not found." />
</svelte:head>
<main>
	<section>
		<h1 class="mdc-typography--headline2">404</h1>
		<p class="mdc-typography--body1">page not found</p>
		<div>
			<Button on:click={goback}>
				<Label>Go back</Label>
			</Button>
			<Button href="/">
				<Label>Homepage</Label>
			</Button>
		</div>
	</section>
</main>
