<script>
	import Button, { Label } from "@smui/button";
	import Icon from "svelte-awesome";
	import { envelope } from "svelte-awesome/icons";
</script>

<style type="text/scss">
	main {
		display: flex;
		width: 100%;
		padding-top: 32px;
		position: absolute;
		align-items: center;
		justify-content: center;
		section {
			text-align: center;
			padding: 32px;
			h1 {
				margin: 0;
			}
			.buttons {
				padding-top: 20px;

				:global(.button > svg) {
					padding-right: 12px;
				}
			}
		}
	}
</style>

<svelte:head>
	<title>Jacob Coughenour</title>
	<meta name="description" content="Jacob Coughenour - Contact" />
	<meta property="og:title" content="Jacob Coughenour - Contact" />
	<meta property="og:description" content="Jacob Coughenour - Contact" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@jacobcoughenour" />
	<meta name="twitter:title" content="Jacob Coughenour - Contact" />
	<meta name="twitter:description" content="Jacob Coughenour - Contact" />
</svelte:head>
<main>
	<section>
		<h1 class="mdc-typography--headline2">Contact</h1>
		<div class="buttons">
			<span>
				<Button
					class="button"
					href="mailto:me@jacobcoughenour.com"
					variant="raised">
					<Icon data={envelope} />
					<Label>Email</Label>
				</Button>
			</span>
		</div>
	</section>
</main>
