<script>
	import { MDCLinearProgress } from "@material/linear-progress";
	import { fade } from "svelte/transition";
	import { onMount } from "svelte";
	import { writable } from "svelte/store";

	export let project;

	window.background_state.set("hide");

	let redirecting = false;
	let status = "parsing project info...";
	const error = writable("");
	let errorMessage = "";
	let progressbarElement;

	let showhint = false;

	let isHerokuProject = false;
	let herokuAppName = "";

	error.subscribe(value => {
		errorMessage = value.message || value;

		if (errorMessage.length) {
			console.error(value);
			window.background_state.set("error");
		}
	});

	function redirect(location) {
		if (redirecting) return;
		redirecting = true;
		window.location = location || project.homepage;
	}

	if (project.homepage) {
		const url = new URL(project.homepage).hostname.split(".");

		if (url[1] === "herokuapp") {
			isHerokuProject = true;
			herokuAppName = url[0];
		} else {
			redirect();
		}
	} else {
		// redirect to home
		redirect("/");
	}

	function tryLaunch() {
		fetch(`/.netlify/functions/herokustatus?app=${herokuAppName}`)
			.then(res => {
				if (!res.ok) {
					throw new Error(`${res.status} ${res.statusText}`);
				}
				return res.json();
			})
			.then(json => {
				const { state } = json;

				if (state === "up") {
					status = "app is up";
					redirect();
					return;
				}

				if (state === "idle") {
					status = "starting app";
					showhint = true;

					window.background_state.set("blur");

					fetch(
						`/.netlify/functions/herokulaunch?app=${herokuAppName}`
					)
						.then(res => {
							// if (!res.ok) throw new Error(res.statusText);
							return res.json();
						})
						.then(res => {
							if (res === "hit") {
								redirect();
							}
						})
						.catch(err => {
							error.set(err);
						});

					queueRetry();

					return;
				}

				if (state === "starting") {
					status = "app is starting";
					showhint = true;

					window.background_state.set("blur");

					queueRetry();
					return;
				}

				if (state === "crashed") {
					error.set("app has crashed");
					return;
				}

				if (state === "down") {
					error.set("app is down");
					return;
				}
			})
			.catch(err => {
				error.set(err);
			});
	}

	let queuedRetry;

	function queueRetry() {
		// cancel queued retry
		if (queuedRetry) clearTimeout(queuedRetry);

		queuedRetry = setTimeout(() => {
			tryLaunch();
		}, 5000);
	}

	if (isHerokuProject) {
		status = "fetching app status";
		tryLaunch();
	}

	onMount(() => {
		if (progressbarElement) new MDCLinearProgress(progressbarElement);
	});
</script>

<style type="text/scss">
	main {
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		min-height: 380px;
		align-items: center;
		justify-content: center;
		section {
			text-align: center;
			padding: 32px;
			h4 {
				margin: 32px 0 0 0;
			}
			.mdc-linear-progress {
				padding-top: 28px;
				text-align: left;
				.mdc-linear-progress__buffer {
					background: rgba(255, 255, 255, 0.2);
				}
			}
			.status {
				display: inline;
				opacity: 0.9;
			}
			.hint {
				margin-top: 32px;
				opacity: 0.5;
				transition: 1s 0.8s opacity;
				&.hide {
					transition: none;
					opacity: 0;
				}
			}
		}
	}
</style>

<svelte:head>
	{#if redirecting}
		<title>Redirecting...</title>
	{:else if errorMessage}
		<title>Error</title>
	{:else if isHerokuProject}
		<title>Launching {project.name}...</title>
		<meta property="og:title" content={`Launch ${project.name}`} />
		<meta name="twitter:title" content={`Launch ${project.name}`} />
		{#if !!project.icon}
			<meta name="og:image" content={project.icon} />
			<meta name="twitter:image" content={project.icon} />
		{/if}
	{/if}
</svelte:head>

{#if errorMessage.length > 0}
	<main>
		<section>
			<h4 class="mdc-typography--headline4">Error</h4>
			<div class="mdc-typography--body1">{errorMessage}</div>
		</section>
	</main>
{:else if redirecting}
	<main>
		<section>
			<div
				in:fade={{ delay: 100, duration: 100 }}
				class="mdc-typography--overline redirecting">
				redirecting...
			</div>
		</section>
	</main>
{:else}
	<main out:fade={{ delay: 0, duration: 100 }}>
		<section>
			<h4 class="mdc-typography--headline4">Launching {project.name}</h4>
			<div
				role="progressbar"
				class="mdc-linear-progress mdc-linear-progress--indeterminate"
				bind:this={progressbarElement}>
				<div class="mdc-linear-progress__buffer" />
				<div
					class="mdc-linear-progress__bar
					mdc-linear-progress__primary-bar">
					<span class="mdc-linear-progress__bar-inner" />
				</div>
				<div
					class="mdc-linear-progress__bar
					mdc-linear-progress__secondary-bar">
					<span class="mdc-linear-progress__bar-inner" />
				</div>
			</div>
			<div class="mdc-typography--overline status">{status}</div>
			<div class="mdc-typography--subtitle2 hint" class:hide={!showhint}>
				This page will redirect you when the app is ready.
			</div>
		</section>
	</main>
{/if}
