<script>
	import Button, { Label } from "@smui/button";
	import { github, gitlab, twitter } from "svelte-awesome/icons";
	import Icon from "svelte-awesome";
	import IconButton from "@smui/icon-button";
</script>

<style type="text/scss">
	@import "../theme/_smui-theme.scss";
	main {
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		min-height: 380px;
		align-items: center;
		justify-content: center;
		section {
			text-align: center;
			padding: 32px;

			svg text.stroke,
			.mdc-typography--body1,
			.socials > :global(.mdc-icon-button) {
				backdrop-filter: blur(24px);
				background: rgba($mdc-theme-background, 0.7);
				stroke-opacity: 0.9;
			}

			svg {
				text {
					fill: $mdc-theme-foreground;

					&.stroke {
						stroke: $mdc-theme-background;
						stroke-width: 18px;
						stroke-linejoin: round;
					}
				}
			}
			// h1 {
			// 	margin: 0;
			// }
			.socials {
				padding-top: 4px;
				& > :global(.mdc-icon-button) {
					border-radius: 50%;
				}
			}
			.mdc-typography--body1 {
				padding: 0 12px;
				display: inline-block;
				overflow: hidden;
				border-radius: 10px;
			}
			.buttons {
				padding-top: 16px;
				& > span:not(:first-child) {
					margin-left: 8px;
				}
			}
		}
	}
</style>

<svelte:head>
	<title>Jacob Coughenour</title>
	<meta name="description" content="Jacob Coughenour" />
	<meta property="og:title" content="Jacob Coughenour" />
	<meta property="og:description" content="Jacob Coughenour" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@jacobcoughenour" />
	<meta name="twitter:title" content="Jacob Coughenour" />
	<meta name="twitter:description" content="Jacob Coughenour" />
</svelte:head>
<main>
	<section>
		<svg xmlns="http://www.w3.org/2000/svg" width="640" height="80">
			<text
				text-anchor="middle"
				x="320"
				y="64"
				class="mdc-typography--headline2 stroke">
				Jacob Coughenour
			</text>
			<text
				text-anchor="middle"
				x="320"
				y="64"
				class="mdc-typography--headline2">
				Jacob Coughenour
			</text>
		</svg>
		<!-- <h1 class="mdc-typography--headline2">Jacob Coughenour</h1> -->
		<div class="socials">
			<IconButton href="https://github.com/jacobcoughenour">
				<Icon data={github} />
			</IconButton>
			<IconButton href="https://gitlab.com/jacobcoughenour">
				<Icon data={gitlab} />
			</IconButton>
			<IconButton href="https://twitter.com/jacobcoughenour">
				<Icon data={twitter} />
			</IconButton>
		</div>
		<div class="mdc-typography--body1">Web and Game Developer</div>
		<div class="buttons">
			<span>
				<Button class="button" variant="raised" href="/projects">
					<Label>projects</Label>
				</Button>
			</span>
			<span>
				<Button class="button" variant="raised" href="/contact">
					<Label>contact</Label>
				</Button>
			</span>
		</div>
	</section>
</main>
