<script>
	import ProjectIcon from "../components/ProjectIcon.svelte";
	import ProjectLanguages from "../components/ProjectLanguages.svelte";
	import ProjectTags from "../components/ProjectTags.svelte";

	import { getIcon } from "../components/tags";

	export let project;
	export let launchButtonText = `open ${project.name}`;

	let isHerokuProject = false;

	if (project.homepage) {
		const url = new URL(project.homepage).hostname.split(".");

		if (url[1] === "herokuapp") {
			isHerokuProject = true;
		}
	}
</script>

<style type="text/scss">
	@import "../theme/_smui-theme.scss";

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		// padding-top: 28px;
		.centered-page {
			max-width: 1080px;
			padding-bottom: 32px;
			box-sizing: border-box;
			width: 100%;
			.breadcrumbs {
				padding: 16px 8px 16px 12px;
				.crumb {
					// color: $mdc-theme-primary;
					color: $mdc-theme-foreground;
					text-decoration: none;
					&:not(:first-child) {
						padding-left: 0.25rem;
						color: $mdc-theme-foreground;
						opacity: 0.75;
						&::before {
							opacity: 0.75;
							display: inline-block;
							padding-right: 0.5rem;
							content: "/";
						}
					}
				}
			}
			.project-page {
				display: flex;
				padding: 12px 12px 32px 12px;
				border-radius: 6px;
				background: rgba($mdc-theme-background, 0.75);
				backdrop-filter: blur(32px);

				.sidebar {
					// flex: 0 1;
					width: 240px;
					// background: rgba($mdc-theme-surface, 0.5);
					.project-icon {
						position: relative;
						width: calc(100% - 16px);
						padding-bottom: calc(100% - 16px);
						margin: 8px;
					}
					.sidebar-info {
						& > div {
							padding: 2px 8px;
							h4 {
								margin: 0;
							}
						}
					}
				}
				section {
					// display: flex;
					flex: 1;

					.header {
						display: flex;

						.header-info {
							padding: 28px;
							width: 100%;

							.project-name {
								margin: 0;
							}
							.project-description {
								margin: 8px 0 0 0;
							}
							.actions {
								.mdc-button {
									margin-top: 16px;
									&:not(:last-child) {
										margin-right: 4px;
									}
									&.heroku {
										background-clip: border-box !important;
										background-origin: border-box !important;
										background: linear-gradient(
											135deg,
											#ac8ece,
											#79589f
										);
									}
								}
							}
						}
					}
					article {
						// flex: 1;
						padding: 8px 28px;
						// position: relative;

						// these are for the rendered markdown.
						// we have to make them global since we inject the html.

						:global(ul[data="image-collection"]) {
							display: flex;
							list-style-type: none;
							margin-block-start: 0;
							margin-block-end: 0;
							margin-inline-start: 0px;
							margin-inline-end: 0px;
							padding-inline-start: 0px;
						}
						:global(img) {
							max-width: 100%;
						}

						:global(pre) {
							display: none;
							// width: 100%;
							overflow-x: auto;
						}
					}
				}
			}
		}
	}
</style>

<svelte:head>
	<title>Jacob Coughenour - {project.name}</title>
	<meta name="description" content={project.description} />
	<meta property="og:title" content={`Jacob Coughenour - ${project.name}`} />
	<meta property="og:description" content={project.description} />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@jacobcoughenour" />
	<meta name="twitter:title" content={`Jacob Coughenour - ${project.name}`} />
	<meta name="twitter:description" content={project.description} />
	{#if !!project.icon}
		<meta name="og:image" content={project.icon} />
		<meta name="twitter:image" content={project.icon} />
	{/if}
</svelte:head>
<main>
	<div class="centered-page">
		<div class="breadcrumbs mdc-typography--body1">
			<a class="crumb" href="/projects">Projects</a>
			<span class="crumb">{project.name}</span>
		</div>
		<div class="project-page">
			<div class="sidebar">
				<div class="project-icon">
					<ProjectIcon
						{project}
						style={'position:absolute;border-radius:16px;'} />
				</div>
				<div class="sidebar-info">
					{#if project.languages}
						<div>
							<h4 class="mdc-typography--overline">Languages</h4>
							{#if Array.isArray(project.languages)}
								<ProjectTags tags={project.languages} />
							{:else}
								<ProjectLanguages data={project.languages} />
							{/if}
						</div>
					{/if}
					{#if project.tools}
						<div>
							<h4 class="mdc-typography--overline">Tools</h4>
							<ProjectTags tags={project.tools} />
						</div>
					{/if}
				</div>
			</div>
			<section>
				<div class="header">
					<div class="header-info">
						<h2 class="mdc-typography--headline3 project-name">
							{project.name}
						</h2>
						<h3
							class="mdc-typography--subtitle1 project-description">
							{project.description || ''}
						</h3>
						<div class="actions">
							{#if project.homepage && isHerokuProject}
								<a
									class="mdc-button mdc-button--raised heroku"
									href={`/launch/${project.id}`}
									target="_blank">
									<i class="mdc-button__icon">
										{@html getIcon('heroku')}
									</i>
									{launchButtonText}
								</a>
							{:else if project.homepage}
								<a
									class="mdc-button mdc-button--raised"
									href={project.homepage}
									target="_blank">
									homepage
								</a>
							{/if}
							<a
								class="mdc-button mdc-button--outlined"
								href={project.repo}
								target="_blank">
								repository
							</a>
						</div>
					</div>
				</div>
				<article class="mdc-typography--body1">
					{@html project.html}
				</article>
			</section>
		</div>
	</div>
</main>
