<script>
	import ProjectCard from "../components/ProjectCard.svelte";

	export let projects = {};
</script>

<style type="text/scss">
	main {
		display: flex;
		width: 100%;
		position: absolute;
		align-items: center;
		justify-content: center;
		section {
			& > h1 {
				text-align: center;
			}
			.card-container:not(:first-child) {
				padding-top: 8px;
			}
		}
	}
</style>

<svelte:head>
	<title>Jacob Coughenour - Projects</title>
	<meta name="description" content="Projects" />
	<meta property="og:title" content="Jacob Coughenour" />
	<meta property="og:description" content="Projects" />
	<meta property="og:type" content="website" />
	<meta name="twitter:creator" content="@jacobcoughenour" />
	<meta name="twitter:title" content="Jacob Coughenour" />
	<meta name="twitter:description" content="Projects" />
</svelte:head>
<main>
	<section>
		<h1 class="mdc-typography--headline2">Projects</h1>
		<div class="card-list">
			{#each projects as project}
				<div class="card-container">
					<ProjectCard {project} />
				</div>
			{/each}
		</div>
	</section>
</main>
