<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<%= inject.head %>
		<link
			rel="shortcut icon"
			href="<%= PUBLIC_PATH %>favicon.ico"
			type="image/x-icon"
		/>
		<meta
			name="viewport"
			content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
		/>
		<title>Jacob Coughenour</title>
		<link rel="manifest" href="<%= PUBLIC_PATH %>manifest.webmanifest" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700|Fira+Code&display=swap"
		/>
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
	</body>
</html>
