@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-light-blue-a700;
$mdc-theme-secondary: $material-color-light-blue-a700;
$mdc-theme-foreground: $material-color-grey-50;

$mdc-theme-background: $material-color-blue-grey-900;
$mdc-theme-surface: $material-color-blue-grey-800;
$mdc-theme-error: $material-color-red-900;
