@import "./assets/css/7.css/gui/_variables.scss";
@import "./assets/css/7.css/gui/_global.scss";
@import "./assets/css/7.css/gui/_balloon.scss";
@import "./assets/css/7.css/gui/_button.scss";
@import "./assets/css/7.css/gui/_checkbox.scss";
@import "./assets/css/7.css/gui/_collapse.scss";
@import "./assets/css/7.css/gui/_combobox.scss";
@import "./assets/css/7.css/gui/_dropdown.scss";
@import "./assets/css/7.css/gui/_groupbox.scss";
@import "./assets/css/7.css/gui/_listbox.scss";
@import "./assets/css/7.css/gui/_listview.scss";
@import "./assets/css/7.css/gui/_menu.scss";
@import "./assets/css/7.css/gui/_progressbar.scss";
@import "./assets/css/7.css/gui/_radiobutton.scss";
@import "./assets/css/7.css/gui/_scrollbar.scss";
@import "./assets/css/7.css/gui/_searchbox.scss";
@import "./assets/css/7.css/gui/_slider.scss";
@import "./assets/css/7.css/gui/_spinner.scss";
@import "./assets/css/7.css/gui/_tabs.scss";
@import "./assets/css/7.css/gui/_textbox.scss";
@import "./assets/css/7.css/gui/_treeview.scss";
@import "./assets/css/7.css/gui/_typography.scss";
@import "./assets/css/7.css/gui/_window.scss";

@import "tailwindcss";

:root {
  --button-transition-speed: 0.1s;
  --button-transition-speed-slow: 0.2s;

  --background: oklab(0.26 0.03 -0.04);
  --on-background: oklab(0.98 0.03 -0.04);
  --surface: oklab(0.95 0.03 -0.04);
  --on-surface: oklab(0.1 -0.02 0.01);

  --tab-bg: oklab(0.999 0.03 -0.04);

  --border-color: oklab(0.5 0.03 -0.04);
  --border-color-inner: oklab(1 0.03 -0.04);
  --border-color-inside: oklab(0.52 -0.4 -0.0 / 0.1);

  --border-radius: 4px;

  --window-background-color: oklab(0.68 0.08 -0.04);

  --link-color: oklab(0.5 -0.4 -0.0);
  --link-color-hovered: oklab(0.5 -0.4 -0.0);

  --primary-color: oklab(0.8 -0.27 0.0);

}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: 18px;
}

.godot_class {
  background-color: var(--border-color-inside);
  border: 1px solid var(--border-color);
  color: var(--on-surface);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--border-color-inner);
}

label {
  opacity: 0.8;
  @apply font-normal;
}

.border {
  background-color: var(--border-color-inside);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--border-color-inner);
}

.bg-tab {
  background-color: var(--tab-bg);
}

#bg-canvas {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.window-body {
  color: var(--background);
}

.tag {
  color: var(--on-surface);
  border-color: var(--link-color);
}

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border-color: var(--border-color);
  opacity: 0.5;
}

hr.bar-separator {
  opacity: 0.5;
  border: 2px dashed var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--border-color-inner);
}

.toc-root {
  a {
    @apply text-sm;
  }

  a.active {
    font-weight: 600;
    @apply text-sm;
    color: var(--link-color);

    &:before {
      content: "» ";
      font-weight: 600;
      @apply text-base;
    }
  }

}

video::-webkit-media-controls{
  filter: brightness(4.0);
}

#comments-section {
  .comment {
    padding: 10px 0;
  }
  .author {
      font-weight: bold;
  }
  .avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 8px;
  }
  .nested-replies {
      margin-left: 20px;
      padding-left: 10px;
  }
  .actions {
      font-size: 12px;
      color: #666;
  }
  .nested-replies .comment {
      margin-bottom: 0;
  }
}

article#article-root {

  margin: 12px -14px 8px -14px;
  padding: 14px;
  clear: both;
  background: var(--tab-bg);
  border: var(--tab-border);

  [role="button"],
  button {
    min-width: 75px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mb-2 mt-4;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  p {
    font-size: 18px;
    @apply my-2;
  }

  figure img, p>img, figure video {
    max-height: 640px;
    @apply my-2;
    @apply block mx-auto border border-4;
    background-color: var(--border-color-inside);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--border-color-inner);
  }

  p>code {
    @apply px-2 bg-slate-500/15;
    background-color: var(--border-color-inside);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--border-color-inner);
  }

  pre>code {
    margin: 0;
  }
}