<a role="button" class="post inline-flex w-full text-left items-center space-x-4 h-16" href="{{ .RelPermalink }}">

  <div class="w-12 h-12">
    <img class="w-12 h-12 object-cover border" src="{{ if .Params.thumb }}{{ .RelPermalink }}{{ .Params.thumb }}{{ else }}{{ "/icons/typewriter.gif" }}{{ end }}" />
  </div>
  
  <div class="grow text-left items-stretch">
    <div class="text-base font-semibold leading-none">
      {{ with .Params.draft }}<span class="border px-1 text-xs mr-1">DRAFT</span>{{ end }}
      {{ .Title }}
    </div>
    <div class="flex space-x-1">
      <div class="grow font-semibold">
        {{ .RelPermalink }}
      </div>
      <div class="w-56">
        <label>Tags:</label>
        {{ $taxonomy := "tags" }}
        {{ with .Param $taxonomy }}
        <ul class="inline-flex space-x-1">
          {{ range $index, $tag := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
            <li class="text-xs font-semibold">
              {{ $tag }}
            </li>
            {{- end -}}
          {{- end -}}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="text-left flex flex-col justify-center min-w-64">
    <div class="space-x-1">
      <label>Date modified:</label><span class="font-semibold">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    </div>
    <div class="space-x-1">
      <label>Size:</label><span class="font-semibold">{{ .FuzzyWordCount }} Words</span>
    </div>
  </div>

</a>
