<script>
	import { fade, fly } from "svelte/transition";
	import { MDCTabBar } from "@material/tab-bar";
	import { MDCTopAppBar } from "@material/top-app-bar";
	import { onMount } from "svelte";
	import { quintIn } from "svelte/easing";

	let headerelement;
	let tabbarelement;

	export let tabs = [];
	export let current = -1;

	onMount(() => {
		new MDCTopAppBar(headerelement);
		new MDCTabBar(tabbarelement);
	});
</script>

<style type="text/scss">
	@import "../theme/smui-theme";
	.mdc-top-app-bar {
		background-color: rgba($mdc-theme-background, 0.9);
		backdrop-filter: blur(12px);
		.mdc-top-app-bar__row {
			height: auto;
			.title {
				flex: 1;
				.mdc-top-app-bar__title {
					color: white;
					line-height: 72px;
				}
			}
			.tabs {
				flex: none;
				padding: 0 16px 0 0;
				.mdc-tab {
					height: 72px;
				}
				.mdc-tab--active .mdc-tab__text-label {
					color: $mdc-theme-foreground;
				}
				.mdc-tab-indicator > span {
					// border-color: white;
					border-radius: 2px 2px 0 0;
				}
				.mdc-tab__ripple {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 700px) {
		.mdc-top-app-bar .mdc-top-app-bar__row {
			flex-direction: column;
			.title .mdc-top-app-bar__title {
				line-height: 48px;
			}
			.tabs {
				padding: 0;
				.mdc-tab {
					height: 48px;
				}
			}
		}
	}
</style>

<header
	bind:this={headerelement}
	class="mdc-top-app-bar mdc-top-app-bar--fixed"
	transition:fly={{ delay: 0, duration: 200, x: 0, y: -20, opacity: 0, easing: quintIn }}>
	<div class="mdc-top-app-bar__row">
		<section class="title mdc-top-app-bar__section--align-start">
			{#if current !== 0}
				<a
					class="mdc-top-app-bar__title"
					transition:fade={{ delay: 0, duration: 80 }}
					href="/">
					Jacob Coughenour
				</a>
			{/if}
		</section>
		<section
			class="tabs mdc-top-app-bar__section
			mdc-top-app-bar__section--align-end">
			<div bind:this={tabbarelement} class="mdc-tab-bar" role="tablist">
				<div class="mdc-tab-scroller">
					<div class="mdc-tab-scroller__scroll-area">
						<div class="mdc-tab-scroller__scroll-content">
							{#each tabs.map((e, i) => i) as i}
								<a
									class="mdc-tab"
									class:mdc-tab--active={current === i}
									role="tab"
									aria-selected={current === i}
									tabindex={i}
									href={tabs[i].route}>
									<span class="mdc-tab__content">
										<span class="mdc-tab__text-label">
											{tabs[i].title}
										</span>
										<span
											class="mdc-tab-indicator"
											class:mdc-tab-indicator--active={current === i}>
											<span
												class="mdc-tab-indicator__content
												mdc-tab-indicator__content--underline" />
										</span>
									</span>
									<span class="mdc-tab__ripple" />
								</a>
							{/each}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</header>
