<script>
	import { getColor, getLabel } from "./tags";
	import { onMount } from "svelte";
	import tippy from "tippy.js";

	let barElement;

	onMount(() => {
		tippy(barElement.querySelectorAll("span"), {
			animateFill: true,
			followCursor: true
		});
	});

	export let data = {};
</script>

<style type="text/scss">
	.stat-bar {
		width: 100%;
		height: 8px;
		display: flex;
		border-radius: 2px;
		overflow: hidden;
	}

	.legend {
		padding-top: 8px;
		> div {
			.label-circle {
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin-right: 4px;
			}
			.label-value {
				opacity: 0.5;
				float: right;
			}
		}
	}
</style>

<div>
	<div class="stat-bar" bind:this={barElement}>
		{#each Object.keys(data) as key}
			<span
				data-tippy-content={`${data[key]}% ${getLabel(key)}`}
				style={`width:${data[key]}%;background-color:${getColor(key)};`} />
		{/each}
	</div>
	<div class="legend mdc-typography">
		{#each Object.keys(data) as key}
			<div class="mdc-typography--body2">
				<span
					class="label-circle"
					style={`background-color:${getColor(key)};`} />
				{getLabel(key)}
				<span class="label-value">{data[key]}%</span>
			</div>
		{/each}
	</div>
</div>
