<script>
	import seedrandom from "seedrandom";

	// project object prop
	export let project;
	export let style = "";

	// create a global memo object for generated icons
	if (!window.generatedIcons) window.generatedIcons = {};

	// color palette to randomly choose from
	const colors = [
		"#651FFF",
		"#3D5AFE",
		"#2979FF",
		"#00B0FF",
		"#00E5FF",
		"#1DE9B6",
		"#00E676",
		"#76FF03",
		"#536DFE",
		"#40C4FF"
	];

	function generateIcon() {
		// icon was already generated
		if (window.generatedIcons[project.id])
			return window.generatedIcons[project.id];

		// create rng with project id as the seed
		const rand = seedrandom(project.id);
		// const rand = seedrandom();

		// keep the previous color
		let prev = -1;

		// gets the next random color
		function next() {
			let n = prev;
			let i = 0;
			// try to get a different color than the previous
			// but limited to 8 tries
			while (n === prev && i++ < 8)
				// limit and floor the random float to the array length
				n = Math.floor(rand() * colors.length);
			// save the previous color
			prev = n;
			// return the color at the random index
			return colors[n];
		}
		// saves the generated style to the global object and returns it
		return (window.generatedIcons[
			project.id
		] = `width:100%;height:100%;background:linear-gradient(${Math.floor(
			rand() * 360
		)}deg, ${next()}, ${next()});`);
	}
</script>

{#if project.icon}
	<img
		alt={project.name}
		src={project.icon}
		width="100%"
		height="100%"
		{style} />
{:else}
	<div style={generateIcon() + style} />
{/if}
