<script>
	import ProjectIcon from "./ProjectIcon.svelte";
	import Ripple from "@smui/ripple/bare.js";
	import { current_component } from "svelte/internal";
	import { exclude } from "@smui/common/exclude.js";
	import { forwardEventsBuilder } from "@smui/common/forwardEvents.js";
	import { useActions } from "@smui/common/useActions.js";

	const forwardEvents = forwardEventsBuilder(current_component);

	export let use = [];
	export let ripple = true;
	export let color = null;
	export let project;
</script>

<style type="text/scss">
	@import "../theme/smui-theme";

	.card {
		width: 360px;
		color: $mdc-theme-foreground;
		text-decoration: none;

		.card__primary-action {
			display: flex;
			flex-direction: row;

			.card__media {
				margin: 0;
				width: 110px;
				height: 110px;
			}

			.card__primary {
				flex: 1;
				padding: 16px;
				h2 {
					margin: 0;
				}
				h3 {
					margin: 0;
					opacity: 0.67;
				}
			}
		}
	}
</style>

<a
	use:useActions={use}
	use:forwardEvents
	class="mdc-card mdc-card--outlined card"
	{...exclude($$props, ['use', 'class', 'variant', 'padded'])}
	href={`projects/${project.id}`}>
	<div
		use:Ripple={[ripple, { unbounded: false, color }]}
		class="mdc-card__primary-action card__primary-action">
		<div class="mdc-card__media--square card__media">
			<ProjectIcon {project} />
		</div>
		<div class="card__primary">
			<h2 class="mdc-typography--headline5">{project.name}</h2>
			<h3 class="mdc-typography--subtitle2">{project.description}</h3>
		</div>
	</div>
</a>
