<script>
	// import { onMount } from "svelte";
	// import { MDCChipSet } from "@material/chips";
	import { getIcon, getLabel, getLink, hasIcon } from "./tags";

	export let tags = [];
</script>

<style type="text/scss">
	.tag {
		display: flex;
		height: 26px;
		// background: rgba(255, 255, 255, 0.1);
		border-radius: 4px;
		color: white;
		text-decoration: none;

		> span {
			opacity: 0.8;
			line-height: 26px;
		}

		&:hover {
			> span {
				opacity: 1;
			}
		}

		&:not(:last-child) {
			margin-bottom: 2px;
		}

		.tag-icon {
			// filter: grayscale(1) brightness(1.4) contrast(1.6);
			mix-blend-mode: screen;
			width: 18px;
			margin: 4px 6px;
		}
	}
</style>

<div class="tag-set mdc-typography" role="grid">
	{#each tags as tag, i}
		<a
			class="tag mdc-typography--body2"
			role="row"
			href={getLink(tag)}
			target="_blank">
			{#if hasIcon(tag)}
				<i class="tag-icon">
					{@html getIcon(tag)}
				</i>
			{/if}
			<span role="gridcell">
				<span role="button" tabindex={i}>{getLabel(tag)}</span>
			</span>
		</a>
	{/each}
</div>
