{{ define "main" }}
<div class="mx-auto w-full max-w-full text-center">
  <h1 class="oi-regular text-left leading-[0.9] mt-20" style="font-size: 90px;">
    <span>Jacob</span>
    <span>Coughenour</span>
  </h1>

  <div class="mt-1 w-full">
    <div
      class="float-right mr-32"
    >
      <a class="inline-flex w-24 items-center justify-center space-x-1" role="button" href="https://bsky.app/profile/jacobcoughenour.com"
        ><img src="/icons/bluesky.png" width="16" height="16" /><span
          >Bluesky</span
        ></a
      >
      <a class="inline-flex w-24 items-center justify-center space-x-1" role="button" href="https://www.youtube.com/@jacobcoughenour"
        ><img src="/icons/youtube.svg" width="16" height="16" /><span
          >YouTube</span
        ></a
      >
      <a class="inline-flex w-24 items-center justify-center space-x-1" role="button" href="https://github.com/jacobcoughenour"
        ><img src="/icons/github.svg" width="16" height="16" /><span
          >GitHub</span
        ></a
      >
    </div>
  </div>

  <div class="window glass active mt-12 max-w-lg mx-auto">
    <div class="title-bar">
      <div class="title-bar-text inline-flex space-x-1">
        <img src="/icons/folder.png" height="16" width="16" />
        <span
          >Recent Posts</span
        >
      </div>
    </div>
    <div class="window-body has-space">
      <div class="m-1">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
        <a href="{{ .RelPermalink }}" class="w-full inline-flex space-x-4 items-center">
          <div class="w-16 h-16">
            <img class="w-16 h-16 object-cover border" src="{{ if .Params.thumb }}{{ .RelPermalink }}{{ .Params.thumb }}{{ else }}{{ "/icons/typewriter.gif" }}{{ end }}" />
          </div>
          <div class="text-left">
            <h3 class="text-base font-semibold leading-none">
              {{ with .Params.draft }}<span class="border px-1 text-xs mr-1">DRAFT</span>{{ end }}{{ .Title }}
            </h3>
            <div class="text-xs mb-2">
              {{ .Date.Format "Mon, Jan 2, 2006" }}
            </div>
          </div>
        </a>
        {{ end }}
      </div>
      <a class="text-sm" href="/posts">View All »</a>
    </div>
  </div>
</div>
{{ end }}
