<script>
	import {
		Contact,
		HerokuLauncher,
		Home,
		NotFound,
		ProjectsList,
	} from "./routes";
	import BackgroundRenderer from "./effects/Renderer.svelte";
	import Header from "./components/Header.svelte";
	import { onMount } from "svelte";
	import page from "page";
	import { projectsById } from "./projects";
	import { writable } from "svelte/store";

	let view, current, viewprops, prerenderReady;

	window.background_state = writable("hide");
	window.background_blur_div = writable(null);

	const temp_projects_url =
		"https://www.notion.so/Projects-Showcase-d4d2a199b71047f085951e364f3f9798";

	const pages = [
		{
			title: "Home",
			route: "/",
			view: Home,
		},
		{
			title: "Projects",
			route: temp_projects_url,
			view: ProjectsList,
		},
		{
			title: "Contact",
			route: "/contact",
			view: Contact,
		},
	];

	// if google analytics is loaded
	if (window.gtag && window.gtagSetPage)
		page((ctx, next) => {
			// update page for analytics
			window.gtagSetPage(ctx.canonicalPath);
			next();
		});

	page("/", () => {
		current = 0;
		view = pages[current].view;
		window.background_state.set("show");
		scroll(0, 0);
	});

	page("/launch/:name", (ctx) => {
		if (!projectsById[ctx.params.name]) {
			view = NotFound;
			window.background_state.set("error");
			return;
		}

		view = HerokuLauncher;
		viewprops = {
			project: projectsById[ctx.params.name],
		};
		current = 0;
		scroll(0, 0);
	});

	page("/projects", () => {
		window.location.href = temp_projects_url;
	});

	page("/projects/:name", () => {
		window.location.href = temp_projects_url;
	});

	// page("/projects", () => {
	// 	current = 1;
	// 	viewprops = {
	// 		projects
	// 	};
	// 	view = pages[current].view;
	// 	window.background_state.set("blur");
	// 	scroll(0, 0);
	// });

	// page("/projects/:name", ctx => {
	// 	if (!projectsById[ctx.params.name]) {
	// 		view = NotFound;
	// 		return;
	// 	}

	// 	view = ProjectView;
	// 	viewprops = {
	// 		project: projectsById[ctx.params.name]
	// 	};
	// 	current = 1;
	// 	window.background_state.set("blur");
	// 	scroll(0, 0);
	// });

	page("/contact", () => {
		current = 2;
		view = pages[current].view;
		window.background_state.set("blur");
		scroll(0, 0);
	});

	page("*", () => {
		view = NotFound;
		window.background_state.set("error");
		// current = -1;
	});

	// initialize the router
	page();

	onMount(() => {
		// prerender now to get page meta from routed page
		window.prerenderReady = prerenderReady = true;
	});
</script>

<style type="text/scss">
	.header-padding {
		padding-top: 72px;
	}
	@media screen and (max-width: 700px) {
		.header-padding {
			padding-top: 96px;
		}
	}
</style>

<svelte:head>
	<!-- use the primary color for prerender so  -->
	<meta name="theme-color" content={prerenderReady ? '#263238' : '#0091ea'} />
</svelte:head>
{#if view !== HerokuLauncher}
	<Header tabs={pages} {current} />
{/if}
<div class:header-padding={view !== HerokuLauncher && view !== Home}>
	<svelte:component this={view} {...viewprops} />
</div>
<BackgroundRenderer />
