@import "./theme/smui-theme";
@import "./theme/prism";

@import "@material/typography/mdc-typography";
@import "@material/card/mdc-card";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/chips/mdc-chips";
@import "@material/linear-progress/mdc-linear-progress";

body {
	margin: 0;
	padding: 0;
	background: $mdc-theme-background;
	color: $mdc-theme-foreground;

	&::-webkit-scrollbar {
		width: inherit;
	}

	&::-webkit-scrollbar-track {
		background: darken($mdc-theme-background, 2.2);
	}

	&::-webkit-scrollbar-thumb {
		background-color: $mdc-theme-surface;
	}
}

.tippy-tooltip.material-theme {
	background: $mdc-theme-surface;
	color: $mdc-theme-foreground;
	@include mdc-typography-base;

	> .tippy-backdrop {
		background: $mdc-theme-surface;
	}
}

.dg.ac {
	z-index: 20 !important;
}
