<div class="shaderview mt-2 flex flex-col items-center mb-8">
	<script type="text" id="params">{{ .Params | jsonify }}</script>
	<script type="text" id="code">{{ (strings.TrimSpace .Inner ) }}</script>
	<div class="flex-1 flex justify-center">
		<canvas id="shaderview-canvas" class="block w-128 max-w-full px-4" width="640" height="320" />
	</div>
	<div class="controls flex flex-col m-2 -mb-4">
		<ul role="menubar" class="bg-red-500 flex space-x-1 items-center rounded">
			<div class="ml-2 invert opacity-60">⚙️</div>
			<div class="px-1 py-1 flex-1">Controls</div>
		</ul>
		<div id="controls-root"></div>
	</div>
</div>
